{% extends 'Ewiz_app/base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Course{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/new_jobs.css' %}">
<link rel="stylesheet" href="{% static '/css/header.css' %}">
{% endblock %}

{% block header %}
{% include 'Ewiz_app/header.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container-fluid"> -->
<div class="row m-0 p-0">
    {% include 'Ewiz_app/side_navbar.html' %}

    <div class="col-12 col-lg-10 background-div">

        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-4 ms-xll-4 mb-2 px-xll-4">
                <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3 mb-3 ps-lg-3">
                        <li class="breadcrumb-item"><a class="user-a" href="#">Job Openings</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Jobs</li>
                    </ol>
                </nav>
            </div>
        </div>


        <div class="row m-0 p-0">
            <div class="col border bg-white rounded mt-2 ms-xll-4 mb-2 px-xll-4">

                <div class="row m-0 p-0">
                    <form id="login-form" class="pe-lg-4" enctype="multipart/form-data" action="" method="post">
                        {% csrf_token %}
                        <div class="col-12 mt-4 position-relative">
                            <h5 class="fw-bold">Update Jobs</h5>
                            <p class="user-para">Use the below form to update your profile</p>
                            <span class="message" id="message">{{message}}</span>
                        </div>

                        <!-- Job Title Field -->
                        <div class="row d-flex justify-content-between pe-0">
                            <div class="col-12 col-md-6">
                                <div class="user-input-wrp me-md-2">
                                    <input type="text" name="job_title" id="job_title" value="{{data.job_title}}" class="form-control"
                                        placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Job Title&nbsp;</label>
                                    <span id="job_title_error" class="error-div">
                                    
                                    </span>
                                </div>
                            </div>
                            
                            <!-- Location Field -->
                            <div class="col-12 col-md-6 pe-md-0">
                                <div class="user-input-wrp me-md-2">
                                    <input type="text" name="location" id="location" value="{{data.location}}" class="form-control"
                                        placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Location&nbsp;</label>
                                    <span id="location_error" class="error-div">
                                    
                                    </span>
                                </div>
                            </div>

                            <!-- Experience Field -->
                            <div class="col-12 col-md-6">
                                <div class="user-input-wrp me-md-2">
                                    <input type="text" name="experience" id="experience" value="{{data.experience}}" class="form-control"
                                        placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Experience&nbsp;</label>
                                    <span id="experience_error" class="error-div">
                                    
                                    </span>
                                </div>
                            </div>

                            <!-- Salary Field -->
                            <div class="col-12 col-md-6 pe-md-0">
                                <div class="user-input-wrp me-md-2">
                                    <input type="text" name="salary" id="salary" value="{{data.salary}}" class="form-control"
                                        placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Salary&nbsp;</label>
                                    <span id="salary_error" class="error-div">
                                    
                                    </span>
                                </div>
                            </div>

                            <!-- Job Openings -->
                            <div class="col-12 col-md-6 pe-md-0">
                                <div class="user-input-wrp me-md-2">
                                    <input type="text" name="Job_Openings" id="Job_Openings" value="{{data.Job_Openings}}" class="form-control"
                                        placeholder=" " autocomplete="off" autofocus>
                                    <label class="floating-label">&nbsp;Job Openings&nbsp;</label>
                                    <span id="Job_Openings_error" class="error-div">
                                        {% if errors.Job_Openings %}
                                            {{errors.Job_Openings}}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            <!-- Logo -->
                            <div class="col-12 col-md-6 pe-md-0">
                                <div class="user-input-wrp me-md-2">

                                    <!-- Logo field -->
                                    <input type="file" name="logo" accept="image/*" id="logo" class="form-control">
                                    <!-- <label class="floating-label">&nbsp;Logo&nbsp;</label> -->
                                    <span id="Logo_error" class="error-div">
                                        {% if errors.logo %}
                                            {{ errors.logo }}
                                        {% endif %}
                                    </span>

                                    <!-- Display current logo if it exists -->
                                    {% if data.logo %}
                                        <img src="{{ data.logo.url }}" alt="Logo" class="img-thumbnail mb-3" style="max-height: 150px;">
                                    {% else %}
                                        <p>No logo uploaded</p>
                                    {% endif %}
                                    
                                    
                                </div>
                            </div>

                            <!-- Description Field -->
                            <div class="col-12 col-md-6">
                                <div class="user-input-wrp me-md-2">
                                    <textarea name="description" id="description" class="form-control text-area p-0 m-0" rows="6" cols="1" placeholder="Job Description" autocomplete="off" autofocus>{{data.description}}</textarea>
                                    <span id="description_error" class="error-div error-right">
                                        {% if errors.description %}
                                            {{errors.description}}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            <!-- Key Skills
                            <div id="key-skills-container">
                                <div class="col-12 col-md-6 pe-md-0" id="key-skills-field">
                                    <div class="user-input-wrp me-md-2">
                                        <input type="text" name="key_Skills[]" id="key_Skills" value="{{data.key_Skills}}" class="form-control"
                                            placeholder=" " autocomplete="off" autofocus>
                                        <label class="floating-label">&nbsp;Key Skills&nbsp;</label>
                                        <span id="key_Skills_error" class="error-div">
                                            {% if errors.key_Skills %}
                                                {{ errors.key_Skills }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Key Skills -->
                            <div id="key-skills-container">
                                {% for skill in data.key_skills %}
                                <div class="key-skill-item row mb-2">
                                    <div class="col-10">
                                        <input type="text" name="key_Skills[]" value="{{ skill }}" class="form-control" placeholder="Key Skill">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-danger remove-skill">Remove</button>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Empty field for adding new skills -->
                                <div class="key-skill-item row mb-2">
                                    <div class="col-10">
                                        <input type="text" name="key_Skills[]" class="form-control" placeholder="Key Skill">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-danger remove-skill">Remove</button>
                                    </div>
                                </div>
                                <button type="button" id="add-skill" class="btn btn-primary mt-2">Add Skill</button>
                            </div>
                        </div>
                         <!-- Buttons to Add/Remove -->
                         <!-- <div class="p-2 bg-success text-white add-btn" id="add-field-btn" onclick="addKeySkillsField()">+</div>
                         <div class="p-2 bg-danger text-white rm-btn" id="remove-field-btn" onclick="removeKeySkillsField()">-</div> -->

                        <div class="row d-flex justify-content-between my-3">
                            <div class="col-6 d-flex justify-content-md-end p-0 pe-4 pe-lg-4">
                                <input type="reset" value="Cancel" class="btn login-btn w-50">
                            </div>
                            <div class="col-6 d-flex justify-content-lg-start ps-lg-4 p-0 ps-4">
                                <input type="submit" value="Save" class="btn login-btn w-50">
                            </div>
                        </div>
                    </form>
                    <span>
                        {% if course %}
                            <span class="errors-common d-flex justify-content-center mb-5">{{course}}</span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}


{% block scripts %}
<script>
    function toggleDropdown(element) {
        // Close all dropdowns
        const allDropdowns = document.querySelectorAll('.dropdown-menu');
        allDropdowns.forEach(dropdown => {
            if (dropdown !== element.nextElementSibling) {
                dropdown.classList.remove('show');
            }
        });

        // Close all arrows
        const allArrows = document.querySelectorAll('.right_arrow');
        allArrows.forEach(arrow => {
            if (arrow !== element.querySelector('.right_arrow')) {
                arrow.classList.remove('arrow_user');
            }
        });

        // Toggle the clicked dropdown and arrow
        const dropdownMenu = element.nextElementSibling;
        dropdownMenu.classList.toggle('show');
        const rightArrow = element.querySelector('.right_arrow');
        rightArrow.classList.toggle('arrow_user');
    }

    document.getElementById('toggle-sidenav').addEventListener('click', function () {
        const sidenav = document.getElementById('sidenav');
        sidenav.classList.toggle('collapsed');
    });

    // validation

    // document.getElementById("login-form").addEventListener("submit", function (event) {
    //     event.preventDefault(); // Prevent form submission

    //     var course_name = document.getElementById("course").value.trim();

    //     let hasError = false;

    //     // client username Field validation
    //     if (course_name === "") {
    //         document.getElementById("course_error").innerText = "Course Field is required";
    //         hasError = true;
    //     } else {
    //         document.getElementById("course_error").innerText = "";
    //     }

    //     // Submit the form if there are no errors
    //     if (!hasError) {
    //         document.getElementById("login-form").submit();
    //     }
    // });

    function permission(checkboxId) {
        // Get the checkbox
        console.log("permission function")
        var checkBox = document.getElementById(checkboxId);
        if (checkBox.checked) {
            checkBox.value = true;
        } else {
            checkBox.value = false;
        }
    }

    function showMessage() {
        const alertBox = document.getElementById('message');
        alertBox.style.display = 'block';

        setTimeout(() => {
            alertBox.style.display = 'none';
        }, 5000);
    }

    document.addEventListener('DOMContentLoaded', () => showMessage());

    document.addEventListener("DOMContentLoaded", function () {
    const skillsContainer = document.getElementById("key-skills-container");
    const addSkillButton = document.getElementById("add-skill");

    // Function to add a new skill input
    addSkillButton.addEventListener("click", function () {
        const skillItem = document.createElement("div");
        skillItem.classList.add("key-skill-item", "row", "mb-2");
        skillItem.innerHTML = `
            <div class="col-10">
                <input type="text" name="key_Skills[]" class="form-control" placeholder="Key Skill">
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger remove-skill">Remove</button>
            </div>
        `;
        skillsContainer.insertBefore(skillItem, addSkillButton);

        // Attach event listener to the remove button of the new field
        skillItem.querySelector(".remove-skill").addEventListener("click", function () {
            skillItem.remove();
        });
    });

    // Event delegation for removing skill items
    skillsContainer.addEventListener("click", function (event) {
        if (event.target.classList.contains("remove-skill")) {
            const skillItem = event.target.closest(".key-skill-item");
            skillItem.remove();
        }
    });
});


    // function addKeySkillsField() {
    //     // Find the container
    //     const container = document.getElementById('key-skills-container');

    //     // Create a new div for the field
    //     const newField = document.createElement('div');
    //     newField.classList.add('col-12', 'col-md-6', 'pe-md-0');
    //     newField.innerHTML = `
    //         <div class="user-input-wrp me-md-2">
    //             <input type="text" name="key_Skills[]" class="form-control" placeholder=" " autocomplete="off">
    //             <label class="floating-label">&nbsp;Key Skills&nbsp;</label>
    //             <span class="error-div"></span>
    //         </div>
    //     `;

    //     // Append the new field to the container
    //     container.appendChild(newField);
    // }

    // function removeKeySkillsField() {
    //     // Find the container
    //     const container = document.getElementById('key-skills-container');

    //     // Remove the last field, if any
    //     if (container.lastElementChild && container.childElementCount > 1) {
    //         container.removeChild(container.lastElementChild);
    //     }
    // }
</script>
{% endblock %}